:root {
  --primary-light: #ea8a79;
  --primary-lighter: #ee735d;
  --primary: #dc3e22;
  --primary-darker: #f32e0b;
  --primary-dark: #b0321b;
  --secondary-light: #a1ab5f;
  --secondary: #a8b64f;
  --secondary-darker: #899441;
  --secondary-dark: #838c49;

  --yellow-light: #ffdda9;
  --yellow: #ffae35;
  --violet-light: #dfdcfe;
  --violet: #9c97d7;
  --light-blue: #c5f1ff;
  --blue: #7fc2d7;

  --white: #fff;
  --grey-light: #f4f4f4;
  --grey-lighter: #c4c4c4;
  --grey: #999;
  --black: #333;
}

html {
  height: 100%;
}
 
body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'SF UI Display', serif;
  font-size: 14px;
  line-height: 16px;
}

* {
  box-sizing: border-box;
  color: var(--black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}