:root {
  --primary-light: #ea8979;
  --primary-lighter: #ee735d;
  --primary: #dc3e22;
  --primary-darker: #f32e0b;
  --primary-dark: #b0321b;
  --secondary-light: #a1ab5f;
  --secondary: #a8b64f;
  --secondary-darker: #899441;
  --secondary-dark: #838c49;

  --white: #fff;
  --grey-light: #999;
  --grey: #c4c4c4;
  --black: #333;
}
 
body {
  margin: 0;
  padding: 0;
  font-family: 'SF UI Display', serif;
  font-size: 14px;
  line-height: 16px;
}

* {
  box-sizing: border-box;
  color: var(--black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
} 
