.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1320px;
}

.wrapper {
    padding-bottom: 50px;
}

.statistics {
    display: flex;
    gap: 32px;
    margin-bottom: 32px;
}

.mainStats {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 320px;
}