.settings {
    animation: fadeInDown 1s;
}

@keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
}

.container {
    margin: 0 auto;
    padding: 0 220px;
    max-width: 920px;
}

.wrapper {
    padding-bottom: 50px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px;
    background-color: var(--grey-light);
}

.input {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.label {
    color: var(--grey);
}

.control {
    padding: 5px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 300;
    line-height: 17px;
}