.container {
    margin: 0 auto;
    padding: 0 220px;
    max-width: 920px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px;
    background-color: var(--grey-light);
}

.input {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.label {
    color: var(--grey);
}

.control {
    padding: 5px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 300;
    line-height: 17px;
}

.btnContainer {
    display: flex;
    gap: 25px;
}

.saveBtn {
    padding: 15px 50px;
    border: 2px solid var(--secondary);
    font-size: 16px;
    font-weight: 500;
    line-height: 17px;
    color: var(--white);
    background-color: var(--secondary);
    transition: border 0.3s, color 0.3s, background-color 0.3s;
}

.saveBtn:focus {
    border: 2px solid var(--secondary-light);
    outline: none;
    background-color: var(--secondary-light);
}

@media (any-hover: hover) {
    .saveBtn:hover {
        border: 2px solid var(--secondary-darker);
        background-color: var(--secondary-darker);
    }
}

.saveBtn:active {
    border: 2px solid var(--secondary-dark);
    background-color: var(--secondary-dark);
}

.defaultBtn {
    padding: 15px 50px;
    border: 2px solid var(--primary);
    font-size: 16px;
    font-weight: 500;
    line-height: 17px;
    color: var(--primary);
    transition: border 0.3s, color 0.3s, background-color 0.3s;
}

.defaultBtn:focus {
    border: 2px solid var(--primary-darker);
    outline: none;
    color: var(--primary-darker);
}

@media (any-hover: hover) {
    .defaultBtn:hover {
        border: 2px solid var(--primary);
        color: var(--white);
        background-color: var(--primary);
    }
}

.defaultBtn:active {
    border: 2px solid var(--primary-darker);
    color: var(--white);
    background-color: var(--primary-darker);
}