.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1320px;
}

.wpapper {
    display: flex;
    gap: 15px;
}

.tasks {
    display: flex;
    flex-direction: column;
    gap: 45px;
    max-width: 500px;
    width: 100%;
}