.titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;
    padding: 10px 40px;
    width: 100%;
    background-color: var(--grey-lighter);
}

.title {
    font-size: 16px;
    font-weight: 700;
    line-height: 17px;
    color: var(--white);
}

.tomato {
    font-size: 16px;
    line-height: 17px;
    color: var(--white);
}