.taskComponent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--grey);
    padding: 15px 0;
}

.taskComponent:first-child {
    border-top: 1px solid var(--grey);
}

.taskContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.number {
    padding: 0.4em 0 0 0.7em;
    border: 1px solid var(--grey);
    border-radius: 50%;
    width:2em;
    height:2em;
    font-size: 16px;
    font-weight: 300;
    line-height: 17px;
}

.input {
    border: 1px solid #f4f4f4;
    font-family: inherit;
    font-size: 16px;
    font-weight: 300;
    line-height: 17px;
    background-color: #f4f4f4;
}

.input:disabled {
    border: none;
    background-color: transparent;
}

.input:focus:enabled {
    outline: 2px solid var(--grey-light);
}