.focus.focus {
    background-color: var(--yellow-light);
}

.pausedTime.pausedTime {
    background-color: var(--violet-light);
}

.pauses.pauses {
    background-color: var(--light-blue);
}

.focusIcon {
    stroke: var(--yellow);
}

.clockIcon {
    stroke: var(--violet);
}

.stopIcon {
    stroke: var(--blue);
}